@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/Bootels.png" style="margin-left: 25%;" alt="ASP.NET" />
<div class="carousel-caption" role="option" style="color: black">
    <p>
        300 x UTILIZARI
        FARA baterii
        FARA sursa de caldura
        FARA sursa de curent

        Ergonomic, fara BPA
        Fixare usoara
        Tetina cu 6 canale anticolici
        Tetina cu forma anatomica
        <a id="orderanchor"class="btn btn-default" href="">
            Comanda acum
        </a>
    </p>
</div>

<script type="text/javascript">
    

    $.ajax({
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        dataType: "json",        
        url: '/Comanda/SendOrder',
        success: function (data) {
            if (data.Result == 'OK') {
                alert('ok');
            }
        }
    });

</script>

