@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>


<address>
    Romania<br/>
    <abbr title="Phone">Cristian Pop-Vaida</abbr><br/>
    0725968548
</address>
<address>
    <strong>Support:</strong><br/>
     <a href="mailto:Support@example.com">c.pop.vaida@gmail.com</a><br/>
</address>
<address>
    <b>UK head office</b><br/>
    Feed Me Bottles Limited (t/a yoomi)<br/>
    The Old Ambulance Station<br />
    Questor Estate<br />
    189 Hawley Road<br />
    Dartford<br />
    Kent DA1 1PB<br />
</address>
