@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>


<address>
    strada <br />
    Cluj-Napoca<br />
    <abbr title="Phone">Cristian Pop-Vaida</abbr>
    0725968548
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">c.pop.vaida@gmail.com</a><br />

</address>
