@{
    ViewData["Title"] = "Mod de utilizare";
}
<h1>Mod de utilizare</h1>
<hr />
<div class="row modes">
    <div class="col-lg-3 modu1">
        Apasati cu putere
        butonul portocaliu.

    </div>
    <div class="col-lg-3 modu2">
        Întoarceti sticla
        cu tetina în jos
        asteptând 30 sec.
        pâna se umple
        cu lapte.

    </div>
    <div class="col-lg-3 modu3">
        Asteptati 30 sec.
        iar când butonul
        devine albastru
        puteti scoate
        capacul.

    </div>
    <div class="col-lg-3 modu4">
        Hraniti bebelusul
        asigurându-va ca
        tetina este plina
        cu lapte.
        Încalzitorul
        ramâne fierbinte
        timp de 1 ora.
    </div>
</div>
<div>
    <iframe width="280" height="157" src="https://www.youtube.com/embed/7Qlq3fSdoB4" frameborder="0" allowfullscreen></iframe>
</div>
<hr />

<h1>Mod de asamblare</h1>
<hr/>
<div class="row modes">
    <div class="col-lg-4 asamb1">
        Puneti inelul
        peste tetina.
        Un mic clic
        înseamna
        pozitia corecta.
    </div>
    <div class="col-lg-4 asamb2">
        Introduceti
        încalzitorul
        în tetina.
    </div>
    <div class="col-lg-4 asamb3">
        Însurubati
        ansamblul format
        din tetina, inel si
        încalzitor pe sticla,
        apoi puneti
        capacul.
    </div>
</div>
<div>
    <iframe width="280" height="157" src="https://www.youtube.com/embed/Z9ZK7svETaU" frameborder="0" allowfullscreen></iframe>
</div>
<hr />


<h1>Mod de încarcare</h1>
<hr />
<div class="row modesnopic">
    <div class="col-lg-3">
        <h2>1.</h2>
        Dupa fiecare utilizare
        a încalzitorului,
        acesta trebuie
        încarcat si sterilizat
        prin fierbere timp
        de 30 min. într-un
        vas cu apa.

    </div>
    <div class="col-lg-3">
        <h2>2.</h2>
        Dupa fierbere
        încalzitorul trebuie
        lasat la racit timp de
        75 min. la temperatura
        camerei sau 20
        min. în apa rece.

    </div>
    <div class="col-lg-3">
        <h2>3.</h2>
        Puteti steriliza si
        încarca mai multe
        încalzitoare simultan.


    </div>
    <div class="col-lg-3">
        <h2>4.</h2>
        Daca se încearca
        activarea încalzitorului
        înainte ca
        acesta sa fie rece
        se pot produce
        stricaciuni iremediabile
        ale acestuia.

    </div>
    
</div>

<div>
    <iframe width="280" height="157" src="https://www.youtube.com/embed/VsJ1ZrQbhVQ" frameborder="0" allowfullscreen></iframe>
</div>

